.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 1em 2em 0px;
}

.button-container button {
  margin-left: 1em;
}

.table-wrapper {
  /* display: flex;
  flex-direction: column; */
}

.customer-table {
  width: 100%;
}

.mat-column-email {
  max-width: fit-content;
  min-width: 25ch;
}

.mat-column-phoneNumber {
  min-width: 14ch;
}
